@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Darker+Grotesque:600,700,800&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'components/_buttons.scss';
@import 'components/_inputs.scss';
@import 'components/_text.scss';
@import 'components/_modals.scss';


@import 'components/_nav.scss';






.card{
   @apply w-full  py-8 px-10 rounded  mx-auto bg-gray-100;
   .card-success{
      @apply  bg-green-400;
   }
   @media only screen and (min-width: 600px){
      @apply  max-w-md mt-8;
   }
}

.form-input{
   @apply border-blue-200 border rounded  w-full p-2 text-gray-600 mt-2;
   &:focus{
      @apply border-blue-400 outline-none;
   }
   &:disabled{
      @apply border-gray-400 ;
   }
}

.card-title{
   @apply text-2xl mb-4 text-center;
}





.form-label{ 
   @apply pb-2 text-gray-700;
}

.form-control{
   @apply py-2;
}

.form-error{
   @apply text-sm font-light text-red-800;
}

form .hide{
   display:none;
}

form.hide{
   display: none;
}

.alert{

   @apply w-full rounded text-white p-3;
   
   &.success{
      @apply bg-green-500 
   }
   &.danger{
      @apply bg-red-500 
   }
}




.comment_card:nth-child(odd){
   @apply bg-gray-100
}

.categ-overlay {
   &::after{
      content:"";
      display: block;
      position: absolute; z-index: 1;
      width: 100%; height: 80px;
      bottom: 0;
      background: rgba(76,76,76,1);
      background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(255,255,255,0) 100%);
      transform: rotate(180deg);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#ffffff', GradientType=0 );
   }
}

.bg-categ{
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
}


 


